<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="https://i.ibb.co/xsjmg2X/logo-ananta.gif" alt="Anantabet logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="https://anantabet.online" class="pa3 no-underline db">DAFTAR</a></li>

		<li><a href="https://rebrand.ly/anantabetofficial" class="pa3 no-underline db">LOGIN</a></li>

		<li><a href="https://rebrand.ly/anantabetofficial" class="pa3 no-underline db">LIVE CHAT</a></li>

		<li><a href="https://rebrand.ly/anantabetofficial" class="pa3 no-underline db">Link Alternatif</a></li>
	</ul>

</nav>
